@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.error-page {
    margin-top: 110px;
    margin-bottom: 200px;

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    padding: 10px;
}

main {
    margin-top: 20px;
}

.navbar {
    background-color: rgb(204 230 255);
    border: 2px solid #6096B7;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/static/images/outdoor-hands.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    border: 2px solid #6096B7;
    border-radius: 5px;
}

#about-img,
#about-what-img,
#about-us-img {
    min-height: 600px;
    /* Adjust the height as needed */
    width: 100%
}

.img {

    height: 100%;
    width: 100%;
}

.container-home {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #333;
    /* Default text color */
    transition: color 0.3s;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    color: #666;    
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

a {
    color: #007bff;
    text-decoration: none;
    margin: 3px;
}

a:hover {
    color: #0056b3;
    position: relative;
    top: -3px;
}

.s-form-container {
    border: 2px solid #6096B7;
    background-color: #F8F9FA;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

#about-us-img {
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/images/nashare.jpg");
    background-size: cover;
    background-position: center center;
    height: auto;
    border: 2px solid #6096B7;
    border-radius: 5px;
}

#about-img {
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/images/nagroup.jpg");
    background-size: cover;
    background-position: center center;
    height: auto;
    border: 2px solid #6096B7;
    border-radius: 5px;
}

#about-what-img {
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/images/what-now.webp");
    background-size: cover;
    background-position: center center;
    height: auto;
    border: 2px solid #6096B7;
    border-radius: 5px;
}

#about-what-img,
#about-img,
#about-us-img {
    min-height: 300px;
    /* Adjust the height as needed */
    max-inline-size: 50%;
}

.about-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: inline;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.title-hero {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 20%;
}

.story-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 10px 0 20px 0;
    border: 2px solid #6096B7;
    background-color: #F8F9FA;
    border-radius: 5px;
    padding: 10px;
}

.stories-sidebar {
    
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    flex-shrink: 1;
}

.logo-png {
    width: 50px;
    height: auto;
}

.note-group-select-from-files {
    display: none;
}

.comment-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #6096B7;
    background-color: rgba(204, 230, 255, 10);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.comment {
    margin: 0;
    border: 2px solid #6096B7;
    background-color: #F8F9FA;
    border-radius: 5px;
    padding: 5px;
}

.comment-form {
    margin-top: 10px;
}

.wecome-user {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #6096B7;
    background-color: #F8F9FA;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
}

.title-hero {
    color: white margin-top: 20%;
}

.user-shares {
    border: 2px solid #6096B7;
    background-color: rgba(204, 230, 255, 10);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.user-share {
    border: 2px solid #6096B7;
    background-color: #F8F9FA;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.share-containter {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #6096B7;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.share-containter a {
    background-color: #96adbc;
    border: 1px solid #6096B7;
    border-radius: 2px;
}

.share-containter a:hover {
    background-color: #bbbbbb;
    border: 2px solid #355466;
}

.fab {
    border: 1px solid #6096B7;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    font-size: 2em;
}

#logOutUser {
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/images/man-back.jpg");
    background-size: cover;
    background-position: center center;
    height: auto;
    border: 2px solid #6096B7;
    border-radius: 5px;
    min-height: 40vh;
}

#logOutUser h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
}

#LoginUser {
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/images/living-clean_orig.jpeg");
    background-size: cover;
    background-position: center center;
    height: auto;
    border: 2px solid #6096B7;
    border-radius: 5px;
}

#LoginUser h1, 
#LoginUser h2,
#LoginUser h3,
#LoginUser h4,
#LoginUser h5,
#LoginUser h6 {

    color: white;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
}

#id_password_helptext {
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
}

.helptext {
    visibility: hidden;
}

#contactUs {
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/images/devesh-tripathi.jpg");
    background-size: cover;
    background-position: center center;
    height: auto;
    border: 2px solid #6096B7;
    border-radius: 5px;
}

#signUpUser {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/images/nashare.jpg");
    background-size: cover;
    background-position: center center;
    height: auto;
    border: 2px solid #6096B7;
    border-radius: 5px;
}

#signUpUser h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#contactUs h1,
#contactUs h2,
#contactUs h3,
#contactUs h4,
#contactUs h5,
#contactUs h6 {
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
}

#contact-us-text-box {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.messages {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.messages .debug {
    background-color: #e7e7e7;
    color: #333;
}

.messages .info {
    background-color: #d9edf7;
    color: #31708f;
}

.messages .success {
    background-color: #dff0d8;
    color: #3c763d;
}

.messages .warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.messages .error {
    background-color: #f2dede;
    color: #a94442;
}

.modal {
    display: none;    
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%);    
    z-index: 1;    
    left: 0;
    top: 0;
    width: 50%;    
    height: 50%;    
    overflow: auto;    
    background-color: rgb(0, 0, 0);    
    background-color: rgba(0, 0, 0, 0.4);    
    padding-top: 60px;
    border-radius: 5px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #6096B7;
    border-radius: 5px;
    width: 80%;    
    max-width: 600px;    
}

@media (max-width: 600px) {
    p {
        word-wrap: break-word;
    }

    .modal-content {
        width: 90%;        
        margin: 10% auto;        
    }
}

@media (max-width: 768px) {
    #about-us-img,
    #about-img,
    #about-what-img {
        min-height: 15px;
        max-height: 30px;
        visibility: hidden;
    }

    p {
        word-wrap: break-word;
    }

    .modal-content {
        width: 90%;
        /* Adjust width for mobile views */
        margin: 10% auto;
        /* Adjust margin for mobile views */
    }
}