{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>About Us.</h1>
        <p>Narcotics Anonymous (NA) is a global community of individuals who have found a new way of life, free from the grip of addiction. NA-Share is a platform dedicated to providing a safe and supportive space for individuals to share their personal stories of recovery and offer hope to others who are still struggling.</p>
        <p>Sharing our experiences, strength, and hope is a fundamental part of the NA program. It allows us to connect with others who have faced similar challenges and find inspiration in their journey. By sharing our stories, we not only help ourselves heal but also provide a lifeline for those who are seeking recovery.</p>
        <p>NA-Share aims to empower individuals by providing a platform where they can freely express themselves and share their experiences. Through this platform, we hope to create a sense of community and support, where individuals can find solace, encouragement, and guidance.</p>
        <p>By sharing our stories on NA-Share, we contribute to the collective wisdom of the NA fellowship and help break the stigma surrounding addiction. Together, we can inspire others to seek help, find hope, and embark on their own journey of recovery.</p>
    </div>
    </div>
</div>
<div class="container mx-auto">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">What is sharing?</h1>
            <p>Sharing at a Narcotics Anonymous (NA) meeting is a core part of the recovery process. It allows members to express their feelings, thoughts, and experiences in a safe and non-judgmental environment. This practice helps members realize they are not alone in their struggles, fostering a sense of empathy and mutual understanding. Speaking about one’s journey can help in maintaining accountability and commitment to recovery. Listening to others’ stories provides valuable lessons and insights that can aid in personal growth and recovery. Additionally, it helps build a strong support network, which is crucial for long-term recovery.</p>
            <h2 class="text-center">So What Now?</h2>
            <p>Knowing that meetings allow us the opportunity to share and knowing all the benefits that come of sharing, this site offers the same opportunity to share and learn from the posts other members have made.</p>
            </p>
        </div>
    </div>
</div>
{% endblock %}