{% extends 'base.html' %}
 
{% block content %}
<div class="row d-flex flex-row">
    <div class="col-md-8 order-last order-md-first">
        <h2>Stories</h2>
        {% for share in shares %}
        <!--  if share.get_status_display == 'Approved' to restrict access later for admin to approve pending or reject -->
        <div class="story-container">
            <h2 class="story-title">{{ share.title }}</h2>
            <p class="story-content">{{ share.content|safe }}</p>
            <!-- removed average rating as it was not working -->
            <p class="story-createdOn">Created at: {{ share.created_at }}</p>
            <p class="comment-count">Has {{ share.comment_count }} comments</p>
            <!-- added button to view detail -->
            <a href="{% url 'stories_detail' share.id %}">View Detail</a> | 
            {% if share.user == request.user %}
            <a href="{% url 'edit_share' share.id %}">Edit Share</a> |
            <a href="{% url 'delete_share' share.id %}">Delete Share</a>
            {% else %}
            <a href="{% url 'comment' share.id %}">Comment</a>
            {% endif %}
        </div>
        <!-- if share status endif -->
        {% endfor %}
        <!-- end for loop -->
    </div>
    <div class="col-md-4 stories-sidebar order-first order-md-last">
        <div class="wecome-user">
            {% if user.is_authenticated %}
            <h2>Welcome Back {{ user.username }}</h2>
            <div class="user-shares">
                <h2>Your Shares</h2>

                {% for share in user_shares %}
                <div class="user-share">
                    <li>"{{ share.title }}"</li>
                    <a href="{% url 'stories_detail' share.id %}">View Detail</a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h2>Anonymous...</h2>
            {% endif %}
            <p>Want to share your story? <a href="{% url 'create_share' %}">Click here</a></p>
        </div>
    </div>
</div>
{% endblock %}