{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-12">
        <h2>Reply to Comment</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% else %}
<h2 id="modal-heading">Anonymous...</h2>
<div id="myModal" class="modal">
    <div class="modal-content">
        <p>We see you're either not logged in or are unregistered. 
            <br>Please feel free to benefit from the NA-Share by signing up, log in and begin your journey sharing.<br>
            Sharing is caring...</p>
    </div>
</div>
<p>Please <a href="{% url 'account_login' %}">login</a> to share your story.</p>
<p>Or <a href="{% url 'account_signup' %}">Sign Up</a>To begin Your Journey</p>
{% endif %}
{% endblock %}