{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Service Links.</h1>
        <p>For Narcotics Anonymous related services off site</p>
        <ul>
            <li><a href="https://www.na.org/">NA World Services</a></li>
            <li><a href="https://www.na.org/?ID=PR-index">Public Relations</a></li>
            <li><a href="https://www.na.org/?ID=lit-index">Literature</a></li>
            <li><a href="https://www.na.org/?ID=ips-index">Informational Pamphlets</a></li>
            <li><a href="https://www.na.org/?ID=ips-index">NAWS News</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <h2>NA Videos</h2>
        <p>Here are some videos from the NA World Services YouTube channel</p>
        <div class="video-container row d-flex flex-wrap">
            <div class="video-item col-sm-12 col-md-4">
                <iframe width="100%" height="ms-auto" src="https://www.youtube.com/embed/FHv2Vc8CQkg?si=6JTltiiiojFDOv1I" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video-item col-sm-12 col-md-4">
                <iframe width="100%" height="ms-auto" src="https://www.youtube.com/embed/93pfA-HlC8M?si=WC8d-OxRKzKVdhCm" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video-item col-sm-12 col-md-4">
                <iframe width="100%" height="ms-auto" src="https://www.youtube.com/embed/i4lacsGD6mo?si=WRkgW_aILhCwiYYQ" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        
    </div>
    </div>
    </div>
</div>
{% endblock %}