{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Detailed View:</h1>
        <!-- start for loop -->
        <div class="story-container">
            <h2 class="story-title">{{ share.title }}</h2>
            <p class="story-content">{{ share.content|safe }}</p>
            <p class="story-rating">Average Rating: {{ share.average_rating }}</p>
            <p class="story-createdOn">Created at: {{ share.created_at }}</p>
            <p class="story-updatedOn">Updated at: {{ share.updated_at }}</p>
            <p class="story-status">Status: {{ share.get_status_display }}</p>
            
            {% if share.user == request.user %}
            <a href="{% url 'edit_share' share.id %}">Edit Share</a>
            {% else %}
            <a href="{% url 'comment' share.id %}">Comment and Rate</a>
            {% endif %}
        </div>
        <!-- end for loop -->
    </div>
    <div class="col-md-4 stories-sidebar order-md-first">
        {% if user.is_authenticated %}
        <h2>{{ user.username }}</h2>
        <h3>Keep Coming Back!</h3>
        {% else %}
        <h2>Anonymous</h2>
        {% endif %}
        <p>Want to share your story? <a href="{% url 'create_share' %}">Click here</a></p>
    </div>
    
</div>
{% endblock %}