{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Stories</h2>
        <!-- start for loop -->
        <div class="story-container">
            <h2 class="story-title">{{ story.title }}</h2>
            <p class="story-content">{{ story.content }}</p>
        </div>
        <!-- end for loop -->
    </div>
    <div class="col-md-4 stories-sidebar">
        <h2>Anonymous</h2>
        <p>Want to share your story? <a href="#">Click here</a></p>
    </div>
</div>
{% endblock %}