{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Detailed View:</h1>
        <!-- start for loop -->
        <div class="share-container">
            <h2 class="share-title">{{ share.title }}</h2>
            <p class="share-content">{{ share.content|safe }}</p>
            <p class="share-rating">Average Rating: {{ share.average_rating }}</p>
            <p class="share-createdOn">Created at: {{ share.created_at }}</p>
            <p class="share-updatedOn">Updated at: {{ share.updated_at }}</p>
            <p class="share-status">Status: {{ share.get_status_display }}</p>
            <p class="share-username">By:{{ share.user }}</p>
            {% if share.user == request.user %}
            <a href="{% url 'edit_share' share.id %}">Edit Share</a>
            
            <a href="{% url 'delete_share' share.id %}">Delete this Share</a>
            {% else %}
            <a href="{% url 'comment' share.id %}">Comment and Rate</a>
            {% endif %}
        </div>

    </div>
    <div class="col-md-4 stories-sidebar order-md-first">
        <div class="user-info">
            <div class="wecome-user">
            {% if user.is_authenticated %}
            <h2>{{ user.username }}</h2>
            <h3>Keep Coming Back!</h3>
            </div>
            {% else %}
            <h2>Anonymous</h2>
            {% endif %}
        </div>
        <div class="comment-container">
            <h3>Comments:</h3>
            <!-- start for loop -->
            {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.content }}</p>
                <p class="share-rating">Rating: {{ comment.rating }}</p>
                <p class="comment-by">By: {{ comment.user }}</p>
                <p>Created at: {{ comment.created_at }}</p>
            </div>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock %}