{% extends 'core/base.html' %}

{% block content %}
<div class="container mx-auto">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">What is sharing?</h1>
            <p>Sharing at a Narcotics Anonymous (NA) meeting is a core part of the recovery process. It allows members
                to
                express their feelings, thoughts, and experiences in a safe and non-judgmental environment. This
                practice
                helps members realize they are not alone in their struggles, fostering a sense of empathy and mutual
                understanding. Speaking about one’s journey can help in maintaining accountability and commitment to
                recovery. Listening to others’ stories provides valuable lessons and insights that can aid in personal
                growth and recovery. Additionally, it helps build a strong support network, which is crucial for
                long-term
                recovery.</p>
            <h2 class="text-center">So What Now?</h2>
            <p>Knowing that meetings allow us the opportunity to share and knowing all the benefits that come of the
                sharing
                process, this site is offers the same opportunity to share and learn from the posts other members have
                made.
            </p>
        </div>
    </div>
</div>
{% endblock %}