@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* style sheet */
/* basic styles */
.error-page {
    margin-top: 110px;
    margin-bottom: 200px;

}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    padding: 10px;
}

main {
    margin-top: 20px;
}

.navbar {
    background-color: rgb(204 230 255);
    border: 2px solid #6096B7;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.container-home {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #333;
    /* Default text color */
    transition: color 0.3s;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    color: #666;
    /* Slightly lighter text color on hover */
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

a {
    color: #007bff;
    text-decoration: none;
    margin: 3px;

}

a:hover {
    color: #0056b3;
    position: relative;
    top: -3px;
}

.s-form-container {
    border: 2px solid #6096B7;
    background-color: #F8F9FA;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.story-container {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #6096B7;
    background-color: #F8F9FA;
    border-radius: 5px;
    padding: 10px;
}

.stories-sidebar {

    border-radius: 5px;

    padding: 5px;
    margin-bottom: 10px;
    flex-shrink: 1;
}

.note-group-select-from-files {
    display: none;
}

.comment-container {
    border: 2px solid #6096B7;
    background-color: rgba(204, 230, 255, 10);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.comment {
    margin: 0;
    border: 2px solid #6096B7;
    background-color: #F8F9FA;
    border-radius: 5px;
    padding: 5px;

}

.comment-form {
    margin-top: 10px;
}

.wecome-user {
    border: 2px solid #6096B7;
    background-color: #F8F9FA;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}


.user-shares {
    border: 2px solid #6096B7;
    background-color: rgba(204, 230, 255, 10);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.user-share {
    border: 2px solid #6096B7;
    background-color: #F8F9FA;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.share-containter {
    border: 2px solid #6096B7;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.share-containter a {
    background-color: #96adbc;
    border: 1px solid #6096B7;
    border-radius: 2px;
}

.share-containter a:hover {
    background-color: #bbbbbb;
    border: 2px solid #355466;

}

.fab {

    border: 1px solid #6096B7;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    font-size: 2em;
}



.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%);
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 50%;
    /* Full width */
    height: 50%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Default width */
    max-width: 600px;
    /* Maximum width */
}

@media (max-width: 600px) {
    p {
        word-wrap: break-word;
    }

    .modal-content {
        width: 90%;
        /* Adjust width for mobile views */
        margin: 10% auto;
        /* Adjust margin for mobile views */
    }
}